.problem-set {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, min-content); */
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6em;
}

.problem-set > .problem {
    margin: 1em 1em 1.5em 1em;
    width: 5em;
    float: left;
}

.problem-stacked {
    /* display: inline-flex;
    flex-direction: column;
    align-items: stretch; */
}

.problem-stacked > .term {
    text-align: right;
}

.problem-stacked > .term:nth-of-type(2) {
    display: flex;
    justify-content: space-between; 
}

.problem-stacked.addition > .term:nth-of-type(2)::before {
    content: '+';
}

.problem-stacked.subtraction > .term:nth-of-type(2)::before {
    content: '−';
}

.problem-stacked .answer {
    text-align: right;
    border-top: 3px solid black;
    color: white;
    padding-left: 2em;
}
